{% extends 'admin_layout.html.twig' %}

{% block content %}

<h1>Voici la liste des questions :</h1>

{% for question, content in questions %}
        <h2>Question N° {{ content.id }} : {{ question }}</h2>
        <p>Thème : {{content.theme}}</p>
        <ul>
            {% for ans, value in content.answer %}
            <li>{{ ans }} : {{ value ? 'bonne' : 'fausse' }}</li>
            {% endfor %}
        </ul>
        <div>
            <a href="/update?id={{ content.id }}">update</a>
        </div>
        <div>
            <a href="/delete?id={{ content.id }}">delete</a>
        </div>
{% endfor %}

{% endblock %}
