{% extends 'admin_layout.html.twig' %}

{% set afficher = 'active' %}

{% block search %}
	{% include './Admin/_searchform.html.twig' %}
{% endblock %}


{% block content %}

	{% if admin %}
		<h1 class="showTitle">Liste des questions :</h1>
		<div class="accordion">

			{% for question in questions %}
				<div class="accordion-item">


					<h2 class="accordion-header" id="heading{{ loop.index }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
							Question N°
							{{ loop.index }}
							:
							{{ question.content }}
							<p id="questionTheme">Thème :
								{{question.theme}}</p>
						</button>
					</h2>

					<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">


						<div class="accordion-body">

							{% if question.image %}
								<img src="/uploads/imagesquestions/{{question.image}}" alt="Description de la question">
							{% endif %}

							<ul class="answerList m-0 p-0">
								{% for ans, value in question.answers %}
									{% if value %}
										<li class="answer good">{{ ans|capitalize }}</li>
									{% else %}
										<li class="answer bad">{{ ans|capitalize }}</li>
									{% endif %}
								{% endfor %}
							</ul>

							<div class="editIcons">
								<button class="btn edit">
									<a href="/admin/update?id={{ question.id }}">
										<span class="mdi mdi-pencil"></span>
									</a>
								</button>
								<form action="/admin/delete" method="POST">
									<input type="hidden" name="id" value="{{ question.id }}">
									<button class="btn delete">
										<span class="mdi mdi-close"></span>
									</button>
								</form>
							</div>

						</div>
					</div>

				</div>
			{% endfor %}
		</div>

	{% else %}
		<a href="/admin/signin">Go to login page</a>
		or
		<a href="/admin/signup">register an account</a>.
	{% endif %}


{% endblock %}
