{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/_home.css">
{% endblock %}

{% block content %}
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-2 col-md-5 col-sm-6 col-8 mx-auto mt-5 d-block">
				<img src="/assets/images/home-quiz.png" class="img-fluid" alt="Mix Quiz">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-9 col-sm-10 col-11 mx-auto mt-4 d-block bg-secondary shadow p-3 mb-5 rounded">
				<h1 class="text-white text-center font-weight-bold">À toi de jouer !</h1>
				<form class="form" method="post" action="/start-game" enctype="multipart/form-data">

					<div class="form-floating mb-2 text-dark">
						<input type="text" class="form-control" id="nickname" name="nickname" placeholder="Réponse correcte" value="{{ questionsInfos.goodAnswer ?? questionsInfos.answers.0 }}">
						<label for="nickname">Choisi ton pseudo....</label>
						<span>{{ errors.nickname }}</span>
					</div>

					<div class="mb-4 text-dark picture d-flex flex-column align-items-center">
						<label for="picture">Choisis ton avatar</label>
						<input type="file" class="form-control form-control-lg" id="picture" name="picture" title="Insérer votre image ici" accept="image/*">
					</div>

					<div class="form-floating mb-4 text-dark">
						<select class="form-select" aria-label="Default select example" name="theme" id="theme">
							<option selected value="">Choississez le thème des questions</option>
							<option value="all">Melting Quizz</option>
							{% for theme in themes %}
								<option value="{{theme}}">{{theme}}</option>
							{% endfor %}
						</select>
						<label for="theme">Thème</label>
						<span>{{ errors.theme }}</span>
					</div>


					<div class="radio d-flex justify-content-around mb-3 w-100">
						<input type="radio" class="btn-check" name="gameType" id="option1" value="1" autocomplete="off" checked>
						<label class="btn btn-primary" for="option1">15 Questions</label>

						<input type="radio" class="btn-check" name="gameType" id="option2" value="2" autocomplete="off">
						<label class="btn btn-primary" for="option2">Time Attack</label>
					</div>
					<span>{{ errors.gameType }}</span>


					<div class="text-center d-flex justify-content-center">
						<button type="submit" class="btn btn-neutral btn-round btn-sm mt-2">C'est parti !<i class="fa-solid fa-chevron-right"></i>
							<i class="fa-solid fa-chevron-right"></i>
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
{% endblock %}
