{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/_game.css">
{% endblock %}

{% block content %}
	<div id="main" class="col-11 col-sm-10 mx-auto">

		<div class="container-fluid mb-3 mx-auto mt-5 pt-1 text-center text-white">
			<div class="d-flex">
				{% for i in 0..nbQuestions - 1 %}
					<svg>
						<circle cx="7" cy="7" r="7" class="{{ score[i] ? 'true' : score[i] is empty ? 'neutral' : 'false' }}"></circle>
					</svg>
				{% endfor %}
			</div>

		</div>

		<div class="col-8 mx-auto d-block my-3">
			<h3 class="text-center bg-secondary rounded p-2">{{session.nickname}}, voici ta question</h3>
		</div>

		<div class="card mb-3 mx-auto bg-white">
			<div class="row g-1">
				<div class="col-md-4 col-12">
					<img src="/uploads/imagesquestions/{{question.image}}" class="img-fluid rounded-start d-block mx-auto" alt="{{question.content}}">
				</div>
				<div class="col-md-6 col-12 ">
					<div class="card-body">
						<h4 class="card-text text-center text-secondary">{{question.content}}
						</h4>
					</div>
				</div>
			</div>
		</div>


		<form action="/question" method="POST">

			<div class="answer-display container-fluid">
				<div class="row ">
					{% for answer in question.answers %}
						<div class="col-sm-6 mx-auto col-12">
							<div class="border rounded m-1 m-md-2 m-lg-3 bg-white">
								<input class="btn-check" type="radio" name="answer" id="{{answer.id}}" value="{{answer.id}}" autocomplete="off" required>
								<label class="btn btn-outline-success" for="{{answer.id}}">{{answer.answer}}</label>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="d-flex align-items-end flex-column m-2">
				<div class="mt-auto p-2">
					<button type="submit" class="btn bg-secondary m-1 text-white">
						Question suivante >></button>
				</div>
			</div>
		</form>

	</div>


{% endblock %}
